///////////////////////
//  Themeing Mixins  //
///////////////////////

@mixin addShadow($style:'depth-1', $xOffset: 0px) {
  @if $style == 'none' {
    box-shadow: none;
  } @else if $style == 'depth-1' {
    box-shadow: $xOffset 2px 5px 0px rgba($black, 0.16),
                $xOffset 2px 10px 0px rgba($black, 0.06);
  } @else if $style == 'depth-2' {
    box-shadow: $xOffset 8px 17px 0px rgba($black, 0.10),
                $xOffset 6px 20px 0px rgba($black, 0.09);
  } @else if $style == 'depth-3' {
    box-shadow: $xOffset 17px 50px 0px rgba($black, 0.09),
                $xOffset 12px 15px 0px rgba($black, 0.14);
  } @else if $style == 'depth-4' {
    box-shadow: $xOffset 25px 55px 0px rgba($black, 0.09),
                $xOffset 16px 28px 0px rgba($black, 0.14);
  } @else if $style == 'depth-5' {
    box-shadow: $xOffset 40px 77px 0px rgba($black, 0.09),
                $xOffset 27px 24px 0px rgba($black, 0.14);
  }
}

@mixin addTextShadow($style:'light') {
  @if $style == 'light' {
    text-shadow: 0px 0px 8px rgba($black, 0.6);
  }
  @if $style == 'heavy' {
    text-shadow: 0px 0px 5px $black;
  }
}

@mixin roundBorders($value-top-left: 4px, $value-top-right:'nil', $value-bottom-right:'nil', $value-bottom-left:'nil') {
  @if ($value-top-right == 'nil' or $value-bottom-right == 'nil' or $value-bottom-left == 'nil') {
    -webkit-border-radius: $value-top-left;
    -moz-border-radius: $value-top-left;
    border-radius: $value-top-left;
  }
  @else {
    -webkit-border-top-left-radius: $value-top-left;
    -webkit-border-top-right-radius: $value-top-right;
    -webkit-border-bottom-right-radius: $value-bottom-right;
    -webkit-border-bottom-left-radius: $value-bottom-left;
    -moz-border-radius-topleft: $value-top-left;
    -moz-border-radius-topright: $value-top-right;
    -moz-border-radius-bottomright: $value-bottom-right;
    -moz-border-radius-bottomleft: $value-bottom-left;
    border-top-left-radius: $value-top-left;
    border-top-right-radius: $value-top-right;
    border-bottom-right-radius: $value-bottom-right;
    border-bottom-left-radius: $value-bottom-left;
  }
}

@mixin card() {
  @include roundBorders(3px);
  @include addShadow('drop');
}
