///////////////////
//  Card styles  //
///////////////////

// Feature card

.feature-card__link-wrapper {
  color: $sri-text-blue !important;
  text-decoration-color: $sri-text-blue !important;
}

.feature-card {
  @extend .bg-light, .rounded;
  @include addShadow('depth-2');
  overflow: hidden;
  max-width: 450px;
  margin: auto;
}

.feature-card__preview {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
}

.feature-card__footer {
  padding: 30px 20px;
  padding-right: 50px;
  position: relative;
}

.feature-card__footer:after {
  content: '';
  display: block;
  height: 60px;
  width: 60px;
  @include centerThis('right');
  background: url("#{$assets_dir}/ui/chevron_right_transparent_blue--large.svg") no-repeat center center;
} 

.feature-card__footer-label {
  @extend .sri-text--lists-links;
  font-size: $t-03;
}


// Parner card

.partner-card {
  height: 100%;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.partner-card:hover .partner-card__inner {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}

.partner-card.is-flipped .partner-card__inner {
  transition: transform 0.6s;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.partner-card__inner {
  @extend .text-center;
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.partner-card__side-a,
.partner-card__side-b {
  height: 100%;
  width: 100%;
  padding: 50px 25px;
  border-radius: 10px;
  @include addShadow();
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.partner-card__side-a {
  @extend .row;
  background-color: $sri-gray-light;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.partner-card__side-b {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $sri-light;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.partner-card__side-b:after {
  content: '';
  display: block;
  width: 50%;
  height: 10px;
  border-top: 3px solid $sri-orange-light;
  @include centerThis('top');
  top: 20px;
}

.partner-card__side-b:before {
  content: '';
  display: block;
  width: 50%;
  height: 10px;
  border-bottom: 3px solid $sri-orange-light;
  @include centerThis('bottom');
  bottom: 20px;
}

.partner-card__logo-row {
  @extend .col-sm-12, .col-4;
  margin-bottom: 60px;
}

.partner-card__logo {
  height: 160px;
  width: 160px;
  margin: 0 auto;
  position: relative;
  border-radius: 100px;
  background-color: $sri-light;
  border: 1px solid $sri-blue-100;

  img {
    width: 70%;
    height: auto;
    @include centerThis();
  }
}

.partner-card__name-row {
  @extend .col-sm-12, .col-8;
}

.partner-card__name {
  h3 {
    font-size: $t-04;
  }
}

.partner-card__description {
  a {
    @extend .sri-text--lists-links;
  }
}

@include media-breakpoint-down(xs) {
  .partner-card {
    max-width: unset;
  }

  .partner-card:hover .partner-card__inner {
    transform: unset;
  }
  
  .partner-card.is-flipped .partner-card__inner {
    transform: unset;
  }

  .partner-card__side-a,
  .partner-card__side-b {
    height: unset;
    padding: 0 25px;
    border-radius: 0;
    box-shadow: unset;
    background-color: $sri-light;
  }

  .partner-card__side-b:after,
  .partner-card__side-b:before {
    display: none;
  }

  .partner-card__side-b {
    position: relative;
    -webkit-transform: unset;
    transform: unset;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s, opacity 0.5s;
  }

  .partner-card.is-flipped .partner-card__side-b {
    max-height: 1000px;
    opacity: 1;
  }

  .partner-card__logo-row {
    margin-bottom: 0px;
  }

  .partner-card__logo {
    width: 100%;
    height: unset;
    border: unset;

    img {
      position: initial;
    }
  }
  
  .partner-card__name {
    text-align: left;
  }

  .partner-card__description {
    text-align: left;
  }
}


// Collection card

.collection-card {
  @extend .bg-light, .rounded;
  border: 1px solid $sri-blue-400;
  max-width: 550px;
}

.collection-card__header {
  background-color: $sri-blue-400;
  padding: 20px 40px;
  padding-right: 80px;
  position: relative;
}

.collection-card__header:after {
  content: '';
  display: block;
  width: 80px;
  height: 60px;
  @include centerThis('right');
  background: url("#{$assets_dir}/ui/chevron_right_white.svg") no-repeat center center;
}

.collection-card__lenght {
  @extend .sri-text--lists;
  color: $sri-light;
  font-size: $t-03;
}

.collection-card__footer {
  padding: 25px 40px;
}

.collection-card__label {
  display: inline-block;
  min-height: 3em;
  color: $sri-text-blue-dark !important;
  font-size: $t-04;
  @include fontSemiBold();
}