///////////////////////////////////
//  Formated images for content  //
///////////////////////////////////

.formated-images {
  img,
  figure {
    margin: 0 30px;
    height: auto;
  }

  img.align-left,
  figure.align-left {
    margin-left: ($sri-box-margin * -1) - 20px;
    margin-bottom: 1.2em;
    max-width: 50%;
  }

  img.align-right,
  figure.align-right {
    margin-right: ($sri-box-margin * -1) - 20px;
    margin-bottom: 1.2em;
    max-width: 50%;
  }

  img.align-center,
  figure.align-center {
    display: table;
    margin: 0px auto;
    margin-bottom: 1.2em;
    max-width: 90%;
  }

  figure img {
    margin: 0 !important;
    width: 100%;
    max-width: unset;
  }

  figcaption {
    padding: 6px 20px;
  }

  // Clearing flotation for every header in content
  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }
}

@include media-breakpoint-down(lg) {
  .formated-images {
    img.align-left,
    figure.align-left {
      margin-left: ($sri-box-margin--lg * -1) - 20px;
    }

    img.align-right,
    figure.align-right {
      margin-right: ($sri-box-margin--lg * -1) - 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .formated-images {
    img.align-left,
    figure.align-left {
      margin-left: ($sri-box-margin--sm * -1) + 10px;
    }

    img.align-right,
    figure.align-right {
      margin-right: ($sri-box-margin--sm * -1) + 10px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .formated-images {
    img.align-left,
    figure.align-left,
    img.align-right,
    figure.align-right {
      display: block;
      margin-left: auto;
      margin-right: auto;
      float: none;
      max-width: 90%;
    }
  }
}