//////////////////////////////
//  Local tasks bar styles  //
//////////////////////////////

.block--local-tasks-block {
  @extend .container;
  margin-bottom: 40px;

  ul {
    @extend .nav, .nav-tabs;

    li {
      @extend .nav-item;

      a {
        @extend .nav-link;
      }
    }

    .is-active {
      @extend .active;
    }
  }
}