//////////////////////////
//  Global text styles  //
//////////////////////////

.sri-text {
  color: $sri-text-medium;
  font-family: 'Roboto', sans;
  @include fontRegular();
  font-size: $t-root;
  line-height: $sri-line-height;
}

.sri-text--page-title {
  color: $sri-orange;
  font-size: $t-07;
  @include fontLight();
}

.sri-text--section-title {
  color: $sri-text-dark;
  font-size: $t-06;
  @include fontSemiBold();
  margin-bottom: 1em;
}

.sri-text--section-subtitle {
  color: $sri-text-medium;
  font-size: $t-05;
  @include fontSemiBold();
  margin-bottom: 1em;
}

.sri-text--new-item-title {
  color: $sri-text-medium;
  font-size: $t-05;
  font-weight: 700;
}

.sri-text--page-featured {
  color: $sri-text-medium;
  font-size: $t-04;
  @include fontRegular();
}

.sri-text--section-featured {
  color: $sri-orange;
  font-size: $t-04;
  @include fontRegular();
  margin-bottom: 1.5em;
}

.sri-text--indicator {
  color: $sri-text-blue-dark-2 !important;
  font-size: $t-03;
  @include fontSemiBold();
}

.sri-text--indicator-small {
  color: $sri-text-blue-dark;
  font-size: $t-02;
  @include fontSemiBold();
}

.sri-text--paragraph {
  color: $sri-text-medium;
  font-size: $t-02;
  @include fontRegular();
}

.sri-text--paragraph-link {
  color: $sri-text-blue !important;
  // font-size: $t-02;
  @include fontRegular();
}

.sri-text--main-menu {
  color: $sri-text-blue-dark !important;
  font-size: $t-02;
  @include fontSemiBold();
}

.sri-text--content-table-title {
  color: $sri-text-light;
  font-size: $t-02;
  @include fontRegular();
}

.sri-text--content-table-item {
  color: $sri-text-blue;
  font-size: $t-02;
  @include fontSemiBold();
}

.sri-text--quote {
  color: $sri-text-dark;
  font-size: $t-03;
  @include fontSemiBoldItalic();
}

.sri-text--quote-attribution,
.sri-text--quote-attribution-right {
  color: $sri-text-medium;
  font-size: $t-02;
  @include fontRegular();
}

.sri-text--quote-attribution-right {
  text-align: right;
}