{# PLEASE NOTE that for blocks, we are importing the macros from the @sri_blocks module, NOT the theme #}
{% import '@sri_blocks/macros.twig' as sriModuleMacros %}
{% import '@sri_theme/freeform/macros.twig' as sriMacros %}


<div class="donate-form">
  {# <div class="donate-form__cta-row">
    {{ sriModuleMacros.freeformText('call-to-action', freeform) }}
  </div>
  <div class="donate-form__description-row">
    {{ sriModuleMacros.freeformText('description', freeform) }}
  </div> #}
  <div class="donate-form__button-row">
    <a href="{{ sriMacros.freeformLinkURL('donation-link', freeform) }}" class="donate-form__button">{{ 'Donate now'|t }}</a>
  </div>
</div>
      
      
      
