{# PLEASE NOTE that for blocks, we are importing the macros from the @sri_blocks module, NOT the theme #}
{% import '@sri_blocks/macros.twig' as sriModuleMacros %}
{% import '@sri_theme/freeform/macros.twig' as sriMacros %}


{# <div class="donate-form">
  <div class="donate-form__cta-row">
    {{ sriModuleMacros.freeformText('call-to-action', freeform) }}
  </div>
  <div class="donate-form__description-row">
    {{ sriModuleMacros.freeformText('description', freeform) }}
  </div>
  <div class="donate-form__button-row">
    <a href="#" class="donate-form__button">{{ 'Donate Now'|t }}</a>
  </div>
</div>
#}

<div class="partners-footer">
  <div class="partners-footer__header">
    <div class="partners-footer__label">
      <h3>{{ 'We are a coalition'|t }}</h3>
    </div>
  </div>
  <div class="partners-footer__content">
    <div class="partners-footer__list">
      <div class="partners-footer__partner">
        <a href="{{ sriMacros.freeformLinkURL('action-canada-link', freeform) }}" class="partners-footer__partner-link" name="{{ sriMacros.freeformImageTitle('action-canada-logo', freeform) }}">
          {{ sriModuleMacros.freeformStyledImage('action-canada-logo', 'medium', freeform) }}
        </a>
      </div>
      <div class="partners-footer__partner">
        <a href="{{ sriMacros.freeformLinkURL('akahata-link', freeform) }}" class="partners-footer__partner-link" name="{{ sriMacros.freeformImageTitle('akahata-logo', freeform) }}">
          {{ sriModuleMacros.freeformStyledImage('akahata-logo', 'medium', freeform) }}
        </a>
      </div>
      {#
      <div class="partners-footer__partner">
        <a href="{{ sriMacros.freeformLinkURL('african-lesbians-link', freeform) }}" class="partners-footer__partner-link" name="{{ sriMacros.freeformImageTitle('african-lesbians-logo', freeform) }}">
          {{ sriModuleMacros.freeformStyledImage('african-lesbians-logo', 'medium', freeform) }}
        </a>
      </div>
      #}
      <div class="partners-footer__partner">
        <a href="{{ sriMacros.freeformLinkURL('crea-link', freeform) }}" class="partners-footer__partner-link" name="{{ sriMacros.freeformImageTitle('crea-logo', freeform) }}">
          {{ sriModuleMacros.freeformStyledImage('crea-logo', 'medium', freeform) }}
        </a>
      </div>
      <div class="partners-footer__partner">
        <a href="{{ sriMacros.freeformLinkURL('eipr-link', freeform) }}" class="partners-footer__partner-link" name="{{ sriMacros.freeformImageTitle('eipr-logo', freeform) }}">
          {{ sriModuleMacros.freeformStyledImage('eipr-logo', 'medium', freeform) }}
        </a>
      </div>
      <div class="partners-footer__partner">
        <a href="{{ sriMacros.freeformLinkURL('fwfp-link', freeform) }}" class="partners-footer__partner-link" name="{{ sriMacros.freeformImageTitle('fwfp-logo', freeform) }}">
          {{ sriModuleMacros.freeformStyledImage('fwfp-logo', 'medium', freeform) }}
        </a>
      </div>
    </div>
  </div>
</div>
