{#
/**
 * @file
 * Macros for the SRI theme.
 *
 */
#}

{# Renders a text item from Freeform content #}
{% macro freeformText(code,freeform) %}
  {% if not freeform is null %}
    {% set item = freeform[code].contents %}

    {% if item is null %}
      <span class="freeform-alert">The {{ code }} text item is missing. Please add it to your Freeform!</span>
    {% else %}
      {{ item }}
    {% endif %}
  {% else %}
    <span class="freeform-alert">The freeform contents with the code <code>{{ code }}</code> were not loaded. Loading might be disabled in the block, or the content does not exist.</span>
  {% endif %}
{% endmacro %}


{# Renders a text plain text or token from Freeform content #}
{% macro freeformToken(code,freeform) %}
  {% if not freeform is null %}
    {% set item = freeform[code].contents %}

    {% if item is null %}
      <span class="freeform-alert">The <code>{{ code }}</code> token is missing. Please add it to the Freeform node with the code {{ freeform.code }}</span>
    {% else %}
      {{ item }}
    {% endif %}
  {% else %}
    <span class="freeform-alert">The freeform contents with the code <code>{{ code }}</code> were not loaded. Loading might be disabled in the block, or the content does not exist.</span>
  {% endif %}
{% endmacro %}


{# Renders a simple image from Freeform content #}
{% macro freeformImage(code,freeform) %}
  {% set entity = freeform[code].entity %}
  {% set image_field = entity.field_freeform_image %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} image item is missing. Please add it to your Freeform!</span>
  {% else %}
    {% set url = file_url( entity.field_freeform_image.0.entity.uri.value ) %}
    {% set alt = entity.field_freeform_image.alt %}
    {% set title = entity.field_freeform_image.title %}
    <img src="{{ url }}" alt="{{ alt }}" title="{{ title }}">
  {% endif %}

{% endmacro %}


{# Renders an image path from Freeform content #}
{% macro freeformImageUri(code,freeform) %}
  {% set entity = freeform[code].entity %}
  {% set image_field = entity.field_freeform_image %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} image item is missing. Please add it to your Freeform!</span>
  {% else %}
    {% set url = file_url( entity.field_freeform_image.0.entity.uri.value ) %}
    {{ url }}
  {% endif %}

{% endmacro %}


{# Renders only the image title from Freeform content #}
{% macro freeformImageTitle(code,freeform) %}
  {% set entity = freeform[code].entity %}
  {% set image_field = entity.field_freeform_image %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} image item is missing. Please add it to your Freeform!</span>
  {% else %}
    {% set title = entity.field_freeform_image.title %}
    {{ title }}
  {% endif %}

{% endmacro %}


{# Renders an image with a style from Freeform content #}
{% macro freeformImageStyle(code,styleName,freeform) %}
  {% set entity = freeform[code].entity %}
  {% set image_field = entity.field_freeform_image %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} image item is missing. Please add it to your Freeform!</span>
  {% else %}
    {% set url = file_url( entity.field_freeform_image.0.entity.uri.value | image_style(styleName) ) %}
    {% set alt = entity.field_freeform_image.alt %}
    {% set title = entity.field_freeform_image.title %}
    <img src="{{ url }}" alt="{{ alt }}" title="{{ title }}">
  {% endif %}

{% endmacro %}

{# Renders a resposive image from Freeform content #}
{% macro freeformResponsiveImage(code,freeform) %}
  {% set entity = freeform[code].entity %}
  {% set image_field = entity.field_freeform_image %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} image item is missing. Please add it to your Freeform!</span>
  {% else %}
    {{ drupal_image(entity.field_freeform_image.0.entity.uri.value, 'optimized', responsive=true) }}
  {% endif %}

{% endmacro %}

{# Renders a styled image from Freeform content #}
{% macro freeformStyledImage(code,style,freeform) %}
  {% set entity = freeform[code].entity %}
  {% set image_field = entity.field_freeform_image %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} image item is missing. Please add it to your Freeform!</span>
  {% else %}
    {{ drupal_image(entity.field_freeform_image.0.entity.uri.value, style, {alt: entity.field_freeform_image.alt|t, title: entity.field_freeform_image.title|t}) }}
  {% endif %}

{% endmacro %}


{# Outputs an URI #}
{% macro freeformLinkURL(code,freeform) %}
  {% set entity = freeform[code].entity %}

  {% if entity is null %}
    The {{ code }} link item is missing. Please add it to your Freeform!
  {% else %}
    {{ entity.field_freeform_link.0.url }}
  {% endif %}

{% endmacro %}


{# Outputs a raw text title #}
{% macro freeformLinkTitle(code,freeform) %}
  {% set entity = freeform[code].entity %}

  {% if entity is null %}
    <span class="freeform-alert">The {{ code }} link item is missing. Please add it to your Freeform!</span>
  {% else %}
    {{ entity.field_freeform_link.title }}
  {% endif %}

{% endmacro %}
