{#
/**
 * @file
 * Default freeform block template.
 */
#}
<div>
  <h5>Default freeform block</h5>
  {% if code is empty %}
    <p>You <em>must</em> provide a code for a freeform block.</p>
  {% else %}
    <p>Please create the freeform template for the code <em>{{ code }}:</em> <code>freeform--{{ code }}.html.twig</code></p>
  {% endif %}
</div>
