/////////////////////////////
//  Styles for the footer  //
/////////////////////////////

// :: Main wrapper ::

.main__wrapper {}

.main{
  padding-top: 182px;
}


// :: System wrapper ::

.system__wrapper {
  @extend .container;
}

.system {}


// :: Content wrapper ::

.content__wrapper {}

.content {
  .paragraph--type--page-content .paragraph__content,
  .node--news_item--full,
  .node--resource--full,
  .node--resource_collection--full,
  .views-element-container,
  .block--page-title  {
    @extend .container;
    padding-left: $sri-box-margin;
    padding-right: $sri-box-margin;
  }

  .block--page-title {
    h1 {
      @extend .sri-text--page-title;
    }
  }
  
  .paragraph--type--page-content {
    margin-bottom: 4em;
    clear: both;
  }
  
  .node--news_item--full,
  .node--resource--full,
  .node--resource_collection--full,
  .block--page-title {
    margin-top: 2em;
  }

  .paragraph--field-label {
    @extend .sri-text--section-title;
  }
}

@include media-breakpoint-down(lg) {
  .content {
    .paragraph--type--page-content .paragraph__content,
    .node--news_item--full,
    .node--resource--full,
    .node--resource_collection--full,
    .views-element-container,
    .block--page-title {
      padding-left: $sri-box-margin--lg;
      padding-right: $sri-box-margin--lg;
    }
  }
}

@include media-breakpoint-down(sm) {
  .content {
    .paragraph--type--page-content .paragraph__content,
    .node--news_item--full,
    .node--resource--full,
    .node--resource_collection--full,
    .views-element-container,
    .block--page-title {
      padding-left: $sri-box-margin--sm;
      padding-right: $sri-box-margin--sm;
    }
  }
}