////////////////////////////////////////
//  Styles for recent resources view  //
////////////////////////////////////////

.db-tools {
  margin-top: 1em;

  .db-tools__row {
    @extend .row;
    max-width: 1000px;
    margin: auto;
  }

  .db-tools__col {
    @extend .col-12, .col-md-6;
    padding-bottom: 2em;
  }
}