////////////////////////
//  Frontpage styles  //
////////////////////////

.frontpage {}

.frontpage__curve {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-top: 150px;
}

.frontpage__curve-a {
  @extend .frontpage__curve;
  background-image: url("#{$assets_dir}/ui/curve_a.png");
}

.frontpage__curve-b {
  @extend .frontpage__curve;
  background-image: url("#{$assets_dir}/ui/curve_b.png");
}


// Frontpage Intro
.frontpage__intro {
  @extend .container;
}

.frontpage__intro-row {
  @extend .row;
}

.frontpage__intro-text-column {
  @extend .col-md-7;
}

.frontpage__intro-text {
  padding: 20px;
  padding-top: 80px;

  p {
    @extend .sri-text--page-featured;
  }
}

.frontpage__intro-picture-column {
  @extend .col-md-5;
  position: relative;
}

.frontpage__intro-picture {
  img {
    @extend .img-fluid;
    @include centerThis();
  }
}


// Frontpage partners
.frontpage__partners {
  background-image: linear-gradient(to bottom, #D4D4D4, #FFFEFE);
  background-size: 100% 140px;
  background-position-y: 40px;
  background-repeat: no-repeat;
  margin-top: 60px;
  margin-bottom: 60px;

  .partners-footer {
    @extend .rounded;
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    background-color: $sri-light;
    border: 1px solid $sri-blue-100;
  }

  .partners-footer__header {
    display: none;
  }

  .partners-footer__list {
    justify-content: center;
  }
}


// Front page featured info
.frontpage__featured-info {}

.frontpage__featured-info-row {
  @extend .container;
}

.frontpage__featured-info-contents {
  @extend .sri-text-styled;
  padding-left: 60px;
  padding-right: 60px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


// Frontpage news
.frontpage__news {
  max-width: 1360px;
  margin: 60px auto;

  .frontpage__news-head {
    @extend .container-fluid;
    padding: 0 40px;

    .frontpage__news-head-label {
      @extend .sri-text--section-title;
      margin-bottom: 0.2em;
    }
  }
  
  .frontpage__news-content {
    @extend .container-fluid;
    padding: 0 40px;
  }

  .views-element-container {
    max-width: unset;
    padding: 0;
  }

  .view__content {
    @extend .row;
    padding: 0;
  }

  .views-row {
    @extend .col-md-3, .col-sm-6;
    border-bottom: unset !important;
  }
}


// Frontpage sections featured
.frontpage__sections-featured {
  @extend .container-fluid, .frontpage__curve-a;
}

.frontpage__sections-featured-row {
  @extend .row;
  max-width: 1360px;
  margin: auto;
}

.frontpage__sections-featured-item {
  @extend .col-md-4, .text-center;
  padding: 40px;
}

.frontpage__sections-featured-item-image {
  img {
    @extend .img-fluid;
  }
}

.frontpage__sections-featured-item-label {
  @extend .sri-text--section-subtitle;
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
}

.frontpage__sections-featured-link {
  text-decoration-color: $sri-text-medium !important;
}


// Frontpage more info
.frontpage__more-info {
  @extend .frontpage__curve-b;
}

.frontpage__more-info-row {
  @extend .container;
}

.frontpage__more-info-contents {
  @extend .sri-text-styled;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
}


@include media-breakpoint-down(sm) {
  // Frontpage Intro
  .frontpage__intro-text {
    padding-top: 20px;
  }

  .frontpage__intro-picture {
    display: flex;
    align-content: center;
    justify-content: center;

    img {
      position: relative;
    }  
  }
}