/////////////////////////////
//  Styles for the header  //
/////////////////////////////

.header__wrapper {
  @extend .container-fluid;
  padding: 0;
  position: fixed;
  z-index: 20;
}

.header {
  @extend .navbar, .navbar-expand-lg, .navbar-light, .bg-light;
  padding: 25px 40px;
  border-bottom: 3px solid $sri-gray-medium;
}

// :: Brand wrapper ::

.brand__wrapper {
  @extend .navbar-brand;
  padding: 0;
}

// .brand {}


// :: Navigation wrapper ::

.navbar__wrapper {
  @extend .navbar-collapse;
}

.navbar__wrapper,
.navbar-toggler {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.navigation__wrapper {
  width: 100%;
}

.navigation {
  @extend .navbar-nav, .mr-auto;
  justify-content: flex-end;

  .block {
    @extend .nav-item;
  }
}

.block--system-menu-blockmain,
.block--language-switcher {
  ul {
    @extend .nav;

    li {
      @extend .nav-item;

      a {
        @extend .nav-link, .sri-text--main-menu;
      }
    }
  }
}


// Icon Buttons

.sri-search-button {
  @extend .sri-circle-button;
  border: none;
}

.sri-search-button:after {
  background: url('#{$assets_dir}/icons/search_blue.svg') center center no-repeat;
}

.sri-language-button {
  @extend .sri-circle-button;
}

.sri-language-button:after {
  background: url('#{$assets_dir}/icons/translate_blue.svg') center center no-repeat;
}


// Navigation Content Table and Brochure contents

.navigation__brochure-contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.navigation__content-title {
  position: absolute;
  left: 144px;
  bottom: 44px;
  transition: transform 0.3s, opacity 0.4s;
  transform: translateY(90px);
  opacity: 0;

  .page-title__title {
    @extend .sri-text--page-title;
    font-size: $t-05;
    margin-bottom: 0;
  }

  .trigger {
    display: none !important;
  }
}

.navigation__content-table {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;

  .content-table__table {
    width: 100%;
    padding-left: 144px;
    background-color: $sri-gray-medium;
    transition: transform 0.3s;
    transform: translateY(100%);
    pointer-events: all;
    overflow-x: auto;

    ul {
      @extend .nav;
      width: max-content;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link, .sri-text--content-table-item;
          color: $sri-text-blue-dark;
          padding-left: 0;
          position: relative;
        }

        a:before {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          position: absolute;
          bottom: 2px;
          left: -0.5rem;
          border-bottom: 3px solid $sri-text-blue-dark;
          transform: scale(0);
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
        }

        a.is-active:before {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}


// Transformation

.is-shrinked {
  .navbar__wrapper,
  .navbar-toggler {
    transform: translateY(-200%);
    opacity: 0;
  }

  .navigation__content-title {
    transform: translateY(0px);
    opacity: 1;
  }

  .navigation__content-table {
    .content-table__table {
      transform: translateY(0%);
    }
  }
}

// responsive
@include media-breakpoint-down(md) {
  .navbar__wrapper {
    position: fixed;
    right: 0;
    width: 55vw;
    height: 100vh;
    top: 0;
    pointer-events: none;
    transform: translateY(0) !important;
    overflow: hidden;

    .navigation__wrapper {
      width: 100%;
      height: 100%;
      padding: 30px 40px;
      background-color: $sri-blue-100;
      pointer-events: all;
      transition: transform 0.3s;
      transform: translateX(100%);

      .block--system-menu-blockmain ul {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        padding-top: 40px
      }

      .block--language-switcher {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .block--search-button {
        position: absolute;
        top: 20px;
        left: 20px;
      }
    }
  }

  .navbar__wrapper.is-expanded {
    .navigation__wrapper {
      transform: translateX(0%);
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    padding: 25px 15px;
  }

  .navbar__wrapper {
    width: 75vw;
  }

  .navigation__content-title {
    left: 110px;
    bottom: 45px;

    .page-title__title {
      font-size: $t-04;
    }
  }

  .navigation__content-table {
    .content-table__table {
      padding-left: 30px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .navbar__wrapper {
    width: 95vw;
  }
}
