////////////////////////////////////////////////
//  Styles for resources-library-search form  //
////////////////////////////////////////////////

.resources-library-search {
  @extend .sri-box--gray-light;
  margin: 2em 0 !important;
  padding: 40px !important;

  .resources-library-search__form-col {
    .views-element-container {
      padding: 0;
    }

    .views-exposed-form {
      @extend .row;
    }

    .form-item {
      @extend .col-12;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    .form-item-search-api-fulltext {
      .form-item__label {
        @extend .col-lg-2;
      }

      .form-item__contents {
        @extend .col-lg-10;
      }

      input {
        @extend .form-search;
        background-position-x: 98%;
      }
    }
    
    .form-item-content-type {
      display: none;
    }

    .form-item-field-resource-type,
    .form-item-field-topics,
    .form-item-sort-by,
    .form-item-sort-order,
    .form-item-field-un-mechanism,
    .form-item-search-api-language,
    .form-item-field-publication-date-starts,
    .form-item-field-publication-date-ends {
      @extend .col-lg-6;

      .form-item__label {
        @extend .col-lg-4;
      }

      .form-item__contents {
        @extend .col-lg-8;
      }
    }

    .form-actions {
      @extend .col-12;
      padding-top: 30px;
      padding-bottom: 20px;

      .button {
        @extend .sri-btn--hollow-sm;
      }
    }
  }
}