/////////////////////////////////
//  Styles for the login form  //
/////////////////////////////////

.user-login-form {
  max-width: 450px;
  margin: 2em auto;

  .form-submit {
    @extend .sri-btn--solid;
    height: auto;
    margin-top: 2em;
  }
}