///////////////////////
//  New item styles  //
///////////////////////

.news-view {
  .view__exposed {
    @extend .rounded;
    background-color: $sri-gray-light;
    margin-bottom: 40px;
    padding: 20px 50px;
    
    .views-exposed-form {
      @extend .row;

      .form-item {
        @extend .col-12;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }

      .form-item-search-api-fulltext {
        .form-item__label {
          @extend .col-lg-2;
        }
  
        .form-item__contents {
          @extend .col-lg-10;
        }
  
        input {
          @extend .form-search;
          background-position-x: 98%;
        }
      }

      .form-item-field-news-type,
      .form-item-field-topics,
      .form-item-sort-by,
      .form-item-sort-order,
      .form-item-field-un-mechanism,
      .form-item-search-api-language,
      .form-item-field-publication-date-starts,
      .form-item-field-publication-date-ends {
        @extend .col-lg-6;

        .form-item__label {
          @extend .col-lg-4;
        }
  
        .form-item__contents {
          @extend .col-lg-8;
        }
      }
    }

    .form-actions {
      @extend .col-12;
      padding-top: 30px;
      padding-bottom: 20px;

      .button {
        @extend .sri-btn--hollow-sm;
      }
    }

    .advanced-search-link {
      display: none;
    }
  }

  .view__content {
    padding: 30px 80px;

    .views-row {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 3px solid $sri-blue-100;
    }
  }

  .view__pager {
    @extend .sri-pager;
  }
}

@include media-breakpoint-down(xs) {
  .news-view {
    .view__content {
      padding: 24px 12px;
    }
  }
}