//////////////////////////////////
//  Newsletter suscribe styles  //
//////////////////////////////////

.block--newsletter-subscription-block {
  background-color: $sri-blue-100;
}

.newsletter-suscribe-form {
  @extend .container;
  padding-top: 70px;
  padding-bottom: 70px;
}

.newsletter-suscribe-form__row {
  @extend .row;
}

.newsletter-suscribe-form__description-column{
  @extend .col-lg-6, .col-md-5;
}

.newsletter-suscribe-form__form-column {
  @extend .col-lg-6, .col-md-7;
}

.newsletter-suscribe-form__description-column {
  padding-right: 160px;
}

.newsletter-suscribe-form__description-cta {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;

  h3 {
    margin-bottom: 0;
  }
}


// Newsletter subscription form

#newsletter-subscription-form-wrapper {
  .form__container {
    background-color: $sri-light;
    border-radius: 8px;
    box-shadow: 2px 16px 20px -10px rgba($sri-gray-dark,0.3);
    padding: 12px 16px;

    form {
      display: flex;
    }
    
    .form-item {
      margin: 0;
    }

    .form-item__label {
      display: none;
    }

    .form-item__contents {
      max-width: unset;
      flex: min-content;
    }

    .form-item-email {
      &:before {
        content: '';
        width: 40px;
        display: block;
        background-image: url("#{$assets_dir}/icons/envelope_gray.svg");
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 25px;
      }

      .input__container input {
        border-width: 0;
        border-bottom-width: 2px;
        border-radius: unset;
        font-weight: 300;
      }
    }

    .form-submit__container input {
      @extend .btn, .btn-primary;
      width: 100%;
      padding-left: 64px;
      padding-right: 64px;
      background-color: $sri-orange-alt !important;
    }
  }
}



// Old

// .newsletter-suscribe-form__form {
//   padding: 16px;
//   padding-top: 0;
//   padding-right: 0;

//   .form-item {
//     margin: 0;
//     margin-bottom: 20px;
//   }

//   label {
//     text-indent: 15px;
//   }
// }

// .newsletter-suscribe-form__form-row {
//   @extend .row;
// }

// .newsletter-suscribe-form__form-name-col {
//   @extend .col-lg-6;
// }

// .newsletter-suscribe-form__form-lastname-col {
//   @extend .col-lg-6;
// }

// .newsletter-suscribe-form__form-mail-col {
//   @extend .col-lg-8;
// }

// .newsletter-suscribe-form__form-button-col {
//   @extend .col-lg-4;
// }

// .newsletter-suscribe-form__form-button {
//   @extend .btn, .btn-primary;
//   width: 100%;
//   margin-top: 30px;
// }

@include media-breakpoint-down(lg) {
  .newsletter-suscribe-form__description-column {
    padding-right: 100px;
  }
}

@include media-breakpoint-down(md) {
  .newsletter-suscribe-form__description-column {
    padding-right: 60px;
  }
}

@include media-breakpoint-down(sm) {
  .newsletter-suscribe-form__description-column {
    padding-right: 15px;
  }

  .newsletter-suscribe-form__description-cta {
    margin-bottom: 2em;
  }

  #newsletter-subscription-form-wrapper {
    .form__container {
      form {
        flex-direction: column;
      }

      .form-submit__container {
        margin-top: 12px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .newsletter-suscribe-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}