//////////////////////////////
//  No results page styles  //
//////////////////////////////

.no-results {
  @extend .container;
}

.no-results__header {
  background-color: rgba($danger, 0.2);
  border-top: 3px solid $danger;
  padding: 30px 40px;
  margin-bottom: 30px;
}

.no-results__title-label {
  color: $sri-text-red;
  font-size: $t-04;
  margin-bottom: 1em;
}

.no-results__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.no-results__suggestions-item {
  padding-left: 35px;
  color: $sri-text-red;
  font-size: $t-03;
  background: url("#{$assets_dir}/icons/chevron_small_red.svg") no-repeat left center;
  background-position: top left;
  background-size: 25px;
}

.no-results__content {
  margin-bottom: 120px;
}

.no-results__content-caption {
  padding: 30px 0;
  border-bottom: 3px solid $sri-gray-medium;

  h2 {
    font-size: $t-05;
  }
}

.no-results__content-item {
  padding: 30px 0;
  border-bottom: 3px solid $sri-gray-medium;
}

.no-results__content-item-link {
  font-size: $t-04;
  margin-bottom: 30px;

  a {
    color: $sri-text-blue;
  }
}

.no-results__content-item-description {
  font-size: $t-03;
}