////////////////////////////////////////
//  Quick search modal custom styles  //
////////////////////////////////////////

.modal--views-blocksearch-block  {
  width: 90%;
  max-width: 1000px;

  .block {
    position: unset !important; // Hardfix warning: Class .contextual-region added by admin system is causing issues here.

    .search-view {
      position: unset !important;  // Hardfix warning: Class .contextual-region added by admin system is causing issues here.
    }

    .block__label {
      display: none;
    }

    .view__exposed {
      margin: 0;
      padding: 10px 20px;
      padding-top: 60px;
      background-color: $sri-light;
      border-bottom: 2px solid $sri-blue-100;
      position: relative;
      z-index: 5;
      border-radius: unset !important;

      .views-exposed-form {
        @extend .row;

        .form-item {
          @extend .col-lg-10, .col-md-9;
        }

        .form-actions {
          @extend .col-lg-2, .col-md-3;
          padding: 6px 0px;
          padding-right: 20px;
        }
        
        .form-item,
        .form-actions {
          margin: 0;
        }

        .form-item-search-api-fulltext {
          .form-item__label {
            @extend .col-lg-2, .col-md-3, .col-sm-3;

            label {
              margin: 0;
              padding: 6px 0;
            }
          }
    
          .form-item__contents {
            @extend .col-lg-10, .col-md-9, .col-sm-9;

            input {
              @extend .form-search;
              background-position-x: 98%;
            }
          }
        }
      }
    }

    .view__content {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      padding: 30px;
      padding-top: 120px;
      padding-bottom: 118px;
      overflow: auto;

      .item-list {
        overflow: auto;
        width: 100%;
        height: 100%;
      }
    }

    footer {
      width: 100%;
      padding: 40px 30px;
      position: absolute;
      bottom: 0;
      z-index: 10;
      background: $sri-light;
      border-top: 2px solid $sri-blue-100;

      .advanced-search-link {
        @extend .sri-btn--hollow-sm;
        display: block;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .modal--views-blocksearch-block {
    .block {
      .view__content {
        padding-top: 120px;
        padding-bottom: 80px;
      }

      footer {
        padding: 20px 30px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .modal--views-blocksearch-block {
    .block {
      .view__exposed {
        .views-exposed-form {
          .form-actions {
            padding: 6px 30px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .modal--views-blocksearch-block {
    .block {
      .view__exposed {
        padding-top: 30px;

        .views-exposed-form {            
          .form-item-search-api-fulltext {
            .form-item__label {
              padding: 0;
              padding-left: 1em;

              label {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}