////////////////////////////////////////
//  Styles for recent resources view  //
////////////////////////////////////////

.recent-resources-view {
  padding-top: 1em;
  padding-bottom: 1em;

  .view__content {
    @extend .row, .sri-box--base;
    padding: 0;
    margin-left: ($sri-box-margin * -1) + 40px;
    margin-right: ($sri-box-margin * -1) + 40px;
  }

  .views-row {
    @extend .col-md-12, .col-lg-4;
  }

  .more-link {
    @extend .sri-box--base;
    padding: 0;
    margin-left: ($sri-box-margin * -1) + 40px;
    margin-right: ($sri-box-margin * -1) + 40px;
    text-align: right;
    
    a {
      @extend .sri-btn--hollow-sm;
      max-width: 200px;
      display: inline-block;
      margin: 0 40px;
    }

    a:hover {
      color: $sri-light !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .recent-resources-view {
    .views-row {
      padding-bottom: 2em;
    }
  }
}

@include media-breakpoint-down(lg) {
  .recent-resources-view {
    .view__content,
    .more-link {
      margin-left: ($sri-box-margin--lg * -1) + 20px;
      margin-right: ($sri-box-margin--lg * -1) + 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .recent-resources-view {
    .view__content,
    .more-link {
      margin-left: ($sri-box-margin--sm * -1) + 10px;
      margin-right: ($sri-box-margin--sm * -1) + 10px;
    }
  }
}