////////////////////////////////////////////
//  Styles for resources collection view  //
////////////////////////////////////////////

.resource-collections-view {
  padding-top: 1em;
  padding-bottom: 1em;

  .view__content {
    @extend .row;
  }

  .views-row {
    @extend .col-lg-6;
    padding-bottom: 2em;
  }

  .more-link {
    a {
      @extend .sri-btn--hollow-sm;
      max-width: 200px;
      display: block;
      margin: 1em auto;
    }
  }
}