//////////////////////////////////
//  Resource collection styles  //
//////////////////////////////////

.node--resource_collection {
  .resource-collection__header {
    margin-bottom: 2em;
  }

  .page-title {
    margin-bottom: 20px;

    .page-title__title {
      @extend .sri-text--new-item-title;
      margin: 0;
    }
  }

  .resource-collection__type {
    display: inline-block;

    span {
      @extend .sri-text--indicator;
    }
  }

  .resource-collection__count {
    margin-bottom: 2em;

    span {
      @extend .badge, .sri-text--indicator;
      margin-right: 1em;
      padding: 0.5em 0.8em;
      border-radius: 10px;
      color: $sri-light !important;
      background-color: $sri-blue-400 !important;
    }
  }

  .resource-collection__files {
    margin-top: 2em;
    margin-bottom: 2em;
    
    .field-resources {
      @extend .row;

      .item {
        @extend .col-md-6;
        padding-bottom: 2em;
      }
    }
  }
}

.node--resource_collection--teaser {
  .resource-collection__header {
    margin-bottom: 30px;
  }

  .page-title {
    margin-bottom: 10px;

    a {
      text-decoration-color: $sri-text-medium !important;
    }
  }

  .resource-collection__indicator {
    @extend .sri-text--indicator;
  }

  .resource-collection__labels {
    margin: 40px 0;
  }
}

.node--resource_collection--column {
  .page-title {
    .page-title__title {
      font-size: $t-04;
    }

    a {
      text-decoration-color: $sri-text-medium !important;
    }
  }

  .resource__type-date {
    @extend .sri-text--indicator-small;
    margin-bottom: 1em;
  }

  .resource-collection__count {
    font-size: smaller;
  }
}