////////////////////////////
//  Styles for site logo  //
////////////////////////////

.site-branding {
  transition: transform 0.4s;
}

.site-branding__link {
  display: flex;
}

.site-branding__logo {
  width: 80px;

  img {
    transition: transform 0.3s;
  }
}

.site-branding__name {
  position: relative;
  width: 75px;
  overflow: hidden;

  img {
    position: absolute;
    height: 40px;
    left: 6px;
    bottom: 0;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1
  }
}


// Transformation

.is-shrinked {
  .site-branding {
    transform: translateY(-20px);
  }

  .site-branding__logo {
    img {
      transform: scale(0.8);
    }
  }

  .site-branding__name {
    img {
      transform: translateX(-110%);
      opacity: 0;
    }
  }
}