///////////////////////////
//  Social network menu  //
///////////////////////////

.social-network-menu {
  background-color: $sri-blue-400;
  padding: 40px 0;
}

.social-network-menu__container {
  @extend .container;
}

.social-network-menu__menu {
  @extend .nav, .justify-content-center;
}

.social-network-menu__item {
  @extend .nav-item;
  padding: 20px;

  a {
    @extend .nav-link;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    color: transparent;
    padding-left: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.social-network-menu__item--facebook {
  a {
    background-image: url("#{$assets_dir}/icons/social_icon_facebook.svg");
  }
}

.social-network-menu__item--instagram {
  a {
    background-image: url("#{$assets_dir}/icons/social_icon_instagram.svg");
  }
}

.social-network-menu__item--twitter {
  a {
    background-image: url("#{$assets_dir}/icons/social_icon_twitter.svg");
  }
}

.social-network-menu__item--youtube {
  a {
    background-image: url("#{$assets_dir}/icons/social_icon_youtube.svg");
  }
}