///////////////////////////////////////
//  Styles for upcoming events view  //
///////////////////////////////////////

.upcoming-events-view {
  padding-top: 1em;

  .view__content {
    @extend .sri-box--base;
    padding: 0;
    margin-left: ($sri-box-margin * -1) + 40px;
    margin-right: ($sri-box-margin * -1) + 40px;

    table {
      @extend .table, .table-striped;

      tbody tr:nth-of-type(2n+1) {
        background-color: rgba(255, 255, 255, 0.8);
      }

      td {
        @extend .sri-text--lists;
      }

      td:first-child {
        padding-left: 50px;
      }

      td:last-child {
        padding-right: 50px;
      }
    }
  }

  .more-link {
    @extend .sri-box--base;
    padding: 0;
    margin-left: ($sri-box-margin * -1) + 40px;
    margin-right: ($sri-box-margin * -1) + 40px;
    text-align: right;
    
    a {
      @extend .sri-btn--hollow-sm;
      max-width: 200px;
      display: inline-block;
      margin: 0 40px;
    }

    a:hover {
      color: $sri-light !important;
    }
  }
}

@include media-breakpoint-down(lg) {
  .upcoming-events-view {
    .view__content,
    .more-link {
      margin-left: ($sri-box-margin--lg * -1) + 20px;
      margin-right: ($sri-box-margin--lg * -1) + 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .upcoming-events-view {
    .view__content,
    .more-link {
      margin-left: ($sri-box-margin--sm * -1) + 10px;
      margin-right: ($sri-box-margin--sm * -1) + 10px;
    }
  }
}