{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - entity_label: The entity label, preprocessed in theme file.
 * - entity_bundle: The entity bundle, preprocessed in theme file.
 *
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <div class="embed-entity">
    <div class="embed-entity__label">
      <span>{{ 'Embed'|t }} {{ entity_bundle }}: {{ entity_label }}</span>
    </div>
  </div>
</article>
