{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - [everything available in a standard node template]
 * - freeform_items: an array that contains the freeform items (paragraphs) by code
 *   Each key contains an array with two basic elements:
 *   - contents: The render array of the paragraph (so, this will respond to the view mode configuration)
 *   - entity: the paragraph entity
 */
#}

{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

<article{{ attributes }}>

<div class="frontpage">
  <div class="frontpage__intro">
    <div class="frontpage__intro-row">
      <div class="frontpage__intro-text-column">
        <div class="frontpage__intro-text">
          {{ sriMacros.freeformText('intro', freeform) }}
        </div>
      </div>
      <div class="frontpage__intro-picture-column">
        <div class="frontpage__intro-picture">
          {{ sriMacros.freeformResponsiveImage('intro-image', freeform) }}
        </div>
      </div>
    </div>
  </div>
  <div class="frontpage__partners">
    {{ drupal_block('partners_footer_block', wrapper=false) }}
  </div>
  <div class="frontpage__featured-info">
    <div class="frontpage__featured-info-row">
      <div class="frontpage__featured-info-contents">
        {{ sriMacros.freeformText('featured-info', freeform) }}
      </div>
    </div>
  </div>
  <div class="frontpage__news">
    <div class="frontpage__news-head">
      <h3 class="frontpage__news-head-label">{{ 'Latest News & Resources'|t }}</h3>
    </div>
    <div class="frontpage__news-content">
      {{ drupal_view('news', 'embed') }}
    </div>
  </div>
  <div class="frontpage__sections-featured">
    <div class="frontpage__sections-featured-row">
      <div class="frontpage__sections-featured-item">
        <a href="{{ sriMacros.freeformLinkURL('who-we-are-link', freeform) }}" class="frontpage__sections-featured-link">
          <div class="frontpage__sections-featured-item-image">
            {{ sriMacros.freeformResponsiveImage('who-we-are-picture', freeform) }}
          </div>
          <div class="frontpage__sections-featured-item-label">
            {# <span>{{ sriMacros.freeformResponsiveImageTitle('who-we-are-picture', freeform) }}</span> #}
            <span>{{ sriMacros.freeformToken('who-we-are-label', freeform) }}</span>
          </div>
        </a>
      </div>
      <div class="frontpage__sections-featured-item">
        <a href="{{ sriMacros.freeformLinkURL('sexual-rights-link', freeform) }}" class="frontpage__sections-featured-link">
          <div class="frontpage__sections-featured-item-image">
            {{ sriMacros.freeformResponsiveImage('sexual-rights-picture', freeform) }}
          </div>
          <div class="frontpage__sections-featured-item-label">
            {# <span>{{ sriMacros.freeformResponsiveImageTitle('sexual-rights-picture', freeform) }}</span> #}
            <span>{{ sriMacros.freeformToken('sexual-rights-label', freeform) }}</span>
          </div>
        </a>
      </div>
      <div class="frontpage__sections-featured-item">
        <a href="{{ sriMacros.freeformLinkURL('un-mechanisms-link', freeform) }}" class="frontpage__sections-featured-link">
          <div class="frontpage__sections-featured-item-image">
            {{ sriMacros.freeformResponsiveImage('un-mechanisms-picture', freeform) }}
          </div>
          <div class="frontpage__sections-featured-item-label">
            {# <span>{{ sriMacros.freeformResponsiveImageTitle('un-mechanisms-picture', freeform) }}</span> #}
            <span>{{ sriMacros.freeformToken('un-mechanisms-label', freeform) }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="frontpage__more-info">
    <div class="frontpage__more-info-row">
      <div class="frontpage__more-info-contents">
        {{ sriMacros.freeformText('more-info', freeform) }}
      </div>
    </div>
  </div>
</div>
</article>
