{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - [everything available in a standard node template]
 * - freeform_items: an array that contains the freeform items (paragraphs) by code
 *   Each key contains an array with two basic elements:
 *   - contents: The render array of the paragraph (so, this will respond to the view mode configuration)
 *   - entity: the paragraph entity
 */
#}

{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

<article{{ attributes }}>

<div class="no-results">
  <div class="no-results__column">
    <div class="no-results__header">
      <div class="no-results__title">
        <h1 class="no-results__title-label">{{ 'Sorry, no results found'|t }}</h1>
      </div>
      <div class="no-results__suggestions">
        <ul class="no-results__suggestions-list">
          <li class="no-results__suggestions-item">{{ 'Check your spelling'|t }}</li>
          <li class="no-results__suggestions-item">{{ 'Reduce the number of keywords or filters'|t }}</li>
          <li class="no-results__suggestions-item">{{ 'Try more general words'|t }}</li>
          <li class="no-results__suggestions-item">{{ 'Try different words that mean the same thing'|t }}</li>
        </ul>
      </div>
    </div>
    <div class="no-results__content">
      <div class="no-results__content-caption">
        <h2>{{ 'Or Browse these sections:'|t }}</h2>
      </div>
      <div class="no-results__content-item">
        <div class="no-results__content-item-link">
          <a href="{{ sriMacros.freeformLinkURL('suggestion-link-sexual-right-issues', freeform) }}">
            {{ sriMacros.freeformLinkTitle('suggestion-link-sexual-right-issues', freeform) }}
          </a>
        </div>
        <div class="no-results__content-item-description">{{ sriMacros.freeformToken('suggestion-text-sexual-right-issues', freeform) }}</div>
      </div>
      <div class="no-results__content-item">
        <div class="no-results__content-item-link">
          <a href="{{ sriMacros.freeformLinkURL('suggestion-link-un-mechanisms', freeform) }}">
            {{ sriMacros.freeformLinkTitle('suggestion-link-un-mechanisms', freeform) }}
          </a>
        </div>
        <div class="no-results__content-item-description">{{ sriMacros.freeformToken('suggestion-text-un-mechanisms', freeform) }}</div>
      </div>
    </div>
  </div>
</div>

</article>
