{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - [everything available in a standard node template]
 * - freeform_items: an array that contains the freeform items (paragraphs) by code
 *   Each key contains an array with two basic elements:
 *   - contents: The render array of the paragraph (so, this will respond to the view mode configuration)
 *   - entity: the paragraph entity
 */
#}

{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

{# Attaching js controller #}
{{ attach_library('sri_theme/partner-cards-toggler') }}

<article{{ attributes }}>

<div class="partners">
  <div class="partners__row">
    <div class="partners__col">
      <div class="partner-card" role="button" aria-expanded="false" tabindex="0">
        <div class="partner-card__inner">
          <div class="partner-card__side-a">
            <div class="partner-card__logo-row">
              <div class="partner-card__logo">
                {{ sriMacros.freeformStyledImage('action-canada-logo', 'medium', freeform) }}
              </div>
            </div>
            <div class="partner-card__name-row">
              <div class="partner-card__name">
                <h3>{{ sriMacros.freeformToken('action-canada-label', freeform) }}</h3>
              </div>
            </div>
          </div>
          <div class="partner-card__side-b">
            <div class="partner-card__description">
              {{ sriMacros.freeformText('action-canada-text', freeform) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="partners__col">
      <div class="partner-card" role="button" aria-expanded="false" tabindex="0">
        <div class="partner-card__inner">
          <div class="partner-card__side-a">
            <div class="partner-card__logo-row">
              <div class="partner-card__logo">
                {{ sriMacros.freeformStyledImage('akahata-logo', 'medium', freeform) }}
              </div>
            </div>
            <div class="partner-card__name-row">
              <div class="partner-card__name">
                <h3>{{ sriMacros.freeformToken('akahata-label', freeform) }}</h3>
              </div>
            </div>
          </div>
          <div class="partner-card__side-b">
            <div class="partner-card__description">
              {{ sriMacros.freeformText('akahata-text', freeform) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {#
    <div class="partners__col">
      <div class="partner-card" role="button" aria-expanded="false" tabindex="0">
        <div class="partner-card__inner">
          <div class="partner-card__side-a">
            <div class="partner-card__logo-row">
              <div class="partner-card__logo">
                {{ sriMacros.freeformStyledImage('african-lesbians-logo', 'medium', freeform) }}
              </div>
            </div>
            <div class="partner-card__name-row">
              <div class="partner-card__name">
                <h3>{{ sriMacros.freeformToken('african-lesbians-label', freeform) }}</h3>
              </div>
            </div>
          </div>
          <div class="partner-card__side-b">
            <div class="partner-card__description">
              {{ sriMacros.freeformText('african-lesbians-text', freeform) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    #}
    <div class="partners__col">
      <div class="partner-card" role="button" aria-expanded="false" tabindex="0">
        <div class="partner-card__inner">
          <div class="partner-card__side-a">
            <div class="partner-card__logo-row">
              <div class="partner-card__logo">
                {{ sriMacros.freeformStyledImage('crea-logo', 'medium', freeform) }}
              </div>
            </div>
            <div class="partner-card__name-row">
              <div class="partner-card__name">
                <h3>{{ sriMacros.freeformToken('crea-label', freeform) }}</h3>
              </div>
            </div>
          </div>
          <div class="partner-card__side-b">
            <div class="partner-card__description">
              {{ sriMacros.freeformText('crea-text', freeform) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="partners__col">
      <div class="partner-card" role="button" aria-expanded="false" tabindex="0">
        <div class="partner-card__inner">
          <div class="partner-card__side-a">
            <div class="partner-card__logo-row">
              <div class="partner-card__logo">
                {{ sriMacros.freeformStyledImage('eipr-logo', 'medium', freeform) }}
              </div>
            </div>
            <div class="partner-card__name-row">
              <div class="partner-card__name">
                <h3>{{ sriMacros.freeformToken('eipr-label', freeform) }}</h3>
              </div>
            </div>
          </div>
          <div class="partner-card__side-b">
            <div class="partner-card__description">
              {{ sriMacros.freeformText('eipr-text', freeform) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="partners__col">
      <div class="partner-card" role="button" aria-expanded="false" tabindex="0">
        <div class="partner-card__inner">
          <div class="partner-card__side-a">
            <div class="partner-card__logo-row">
              <div class="partner-card__logo">
                {{ sriMacros.freeformStyledImage('fwfp-logo', 'medium', freeform) }}
              </div>
            </div>
            <div class="partner-card__name-row">
              <div class="partner-card__name">
                <h3>{{ sriMacros.freeformToken('fwfp-label', freeform) }}</h3>
              </div>
            </div>
          </div>
          <div class="partner-card__side-b">
            <div class="partner-card__description">
              {{ sriMacros.freeformText('fwfp-text', freeform) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</article>
