{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - [everything available in a standard node template]
 * - freeform_items: an array that contains the freeform items (paragraphs) by code
 *   Each key contains an array with two basic elements:
 *   - contents: The render array of the paragraph (so, this will respond to the view mode configuration)
 *   - entity: the paragraph entity
 */
#}

{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

<article{{ attributes }}>

<div class="error-code-404">
  <div class="error-code-404__column">
    <div class="error-code-404__header">
      <div class="error-code-404__title">
        <h1 class="error-code-404__title-label">{{ sriMacros.freeformToken('error-title', freeform) }}</h1>
      </div>
      <div class="error-code-404__subtitle">
        <h2 class="error-code-404__subtitle-label">{{ sriMacros.freeformToken('error-subtitle', freeform) }}</h2>
      </div>
    </div>
    <div class="error-code-404__content">
      <div class="error-code-404__detail">
        <div class="sri-text-styled">
          {{ sriMacros.freeformText('error-detail', freeform) }}
        </div>
      </div>
      <div class="error-code-404__form">
        {{ drupal_form('\\Drupal\\sri_blocks\\Form\\SimpleSearch') }}
      </div>
    </div>
  </div>
</div>

</article>
