{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

<div class="resources-library-search">
  <div class="resources-library-search__row">
    <div class="resources-library-search__intro-col">
      {{ sriMacros.freeformText('header', freeform) }}
    </div>
    <div class="resources-library-search__form-col">
      {{ drupal_block('views_exposed_filter_block:search-resource_search', wrapper=false) }}
    </div>
  </div>
</div>
